.sd-tagbox_clean-button {
    padding: unset !important;
}

.sv-tagbox__item {
    height: auto !important;
}

.sd-tagbox-item_clean-button-svg {
    width: 20px !important;
    height: 20px !important;
    position: relative !important;
    top: 2px !important;
}